In [1]:
import pandas as pd
import re

In [2]:
#Import data
data = pd.read_csv("C:\\Users\\beatr\\Documents\\Beatriz\\Ironhack\\Projects\\Tableau-Mini-Project\pizza_v1.csv")

In [3]:
data.head(10)

,company,price_rupiah,diameter,topping,variant,size,extra_sauce,extra_cheese
0,A,"Rp235,000",22.0,chicken,double_signature,jumbo,yes,yes
1,A,"Rp198,000",20.0,papperoni,double_signature,jumbo,yes,yes
2,A,"Rp120,000",16.0,mushrooms,double_signature,reguler,yes,yes
3,A,"Rp155,000",14.0,smoked beef,double_signature,reguler,yes,no
4,A,"Rp248,000",18.0,mozzarella,double_signature,jumbo,yes,no
5,A,"Rp140,000",18.5,black papper,american_favorite,jumbo,no,no
6,A,"Rp110,000",16.0,smoked beef,american_favorite,jumbo,no,yes
7,A,"Rp70,000",8.0,papperoni,american_favorite,reguler,no,no
8,A,"Rp90,000",12.0,mushrooms,american_favorite,reguler,yes,no
9,A,"Rp90,000",12.0,smoked beef,american_favorite,reguler,no,no

In [4]:
#Update the column of the price using REGEX
data['price_rupiah'] = data['price_rupiah'].str.replace(r'Rp', '', regex=True).astype('str')
data['price_rupiah'] = data['price_rupiah'].str.replace(r',', '', regex=True).astype('int')

In [5]:
#create a new column price with dollars:

data["price_dollars"] = data["price_rupiah"]*0.000070

In [6]:
# Replace the company names
data["company"] = data["company"].replace({"A": "Pizza Hut", "B": "Domino", "C": "Hunt Brothers Pizza", "D": "Little Caesars", "E" : "Papa John Pizza"})

In [7]:
# Remove the old price column
data = data.drop(["price_rupiah"], axis = 1)

In [8]:
data

,company,diameter,topping,variant,size,extra_sauce,extra_cheese,price_dollars
0,Pizza Hut,22.0,chicken,double_signature,jumbo,yes,yes,16.45
1,Pizza Hut,20.0,papperoni,double_signature,jumbo,yes,yes,13.86
2,Pizza Hut,16.0,mushrooms,double_signature,reguler,yes,yes,8.40
3,Pizza Hut,14.0,smoked beef,double_signature,reguler,yes,no,10.85
4,Pizza Hut,18.0,mozzarella,double_signature,jumbo,yes,no,17.36
...,...,...,...,...,...,...,...,...
124,Papa John Pizza,8.5,tuna,spicy tuna,small,yes,yes,2.73
125,Papa John Pizza,12.0,tuna,spicy tuna,medium,yes,yes,5.04
126,Papa John Pizza,14.0,tuna,spicy tuna,large,yes,yes,6.93
127,Papa John Pizza,8.5,meat,BBQ_meat_fiesta,small,yes,no,3.08
128,Papa John Pizza,12.0,meat,BBQ_meat_fiesta,medium,no,no,5.46

In [9]:
data.to_csv("pizza.csv")